/*Затемнение дисплея*/
.overlay {
	background-color: rgba(1, 0, 0, 0.77);
	right: 0;
	left: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 11;
	display: none;
}

/*Слой становится видимым*/
.overlay:target {
	display: block;
}

/*Растягиваю картинку на всю ширину попапа
.window img {
	width: 100%;
}
*/
/*Характеристики самого окна, которое появляется после клика по кнопке*/
.window {
	left: 50%;
	z-index: 12;
	margin: 0;
	position: fixed;
	padding: 15px;
	border: 1px solid #383738;
	border-radius: 15px;
	box-shadow: 0 13px 21px rgba(0, 1, 0, .19), 0 21px 63px rgba(0, 1, 0, .31);
	transform: translate(-50%, -450%);
	transition: transform 0.6s ease-out;


}

/*Появление модального окошка с верхнего края экрана*/
.overlay:target+.window {
	transform: translate(-50%, 0);
	top: 17%;
}

/*Внешний вид кнопки «Закрыть»*/
.close {
	top: -11px;
	right: -11px;
	width: 23px;
	height: 23px;
	position: absolute;
	padding: 0;
	border: 2px solid #ccd;
	border-radius: 15px;
	background-color: rgba(61, 61, 61, 0.81);
	box-shadow: 0 0 12px #010;
	text-align: center;
	text-decoration: none;
	font: 18px sans-serif;
	font-weight: bold;
	transition: all ease .9s;

}

.close:before {
	color: rgba(254, 254, 254, 0.89);
	content: "X";
	text-shadow: 0 1px 3px #010;
	font-size: 14px;
}

/*Изменение характеристик при наведении на область */
.close:hover {
	background-color: rgba(253, 21, 0, 0.83);
	transform: rotate(360deg);
}

/*Оформление главной кнопки*/
#button {
	margin-left: 40%;
	font-size: 33px;
	color: rgba(253, 21, 0, 0.83);
	border-radius: 11px;
	background-color: rgba(50, 13, 214, 0.9);
	box-shadow: 0 3px 10px #010;
	text-align: center;
	text-decoration: none;
	/*background: #4709ac;*/
	padding: 6px 17px;
	position: relative;
	left: 700px;
	background-image: url(https://footage.ucoz.com/_ld/39/54036521.jpg);

}

.forma {
	width: 300px;
	height: 400px;
	margin: 40px;
	text-align: center;

}

input {
	margin: 10px;
	border-radius: 10px;
	text-align: center;
}

.button {

	border-radius: 10px;
	background-color: rgba(210, 221, 61, 0.89);
	padding: 10px;
	font-weight: bold;
	box-shadow: 5px 10px 0px rgba(0, 0, 0, 0.822);
}

.button:hover {
	cursor: pointer;



}


body {
	background: url(https://img1.goodfon.ru/wallpaper/nbig/3/54/hi-tech-cyber-space.jpg);
}